@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

header{
	font-variant: small-caps;
	margin: 1em;
	text-align: center;
}

/* Begin figures */
figure{
	break-inside: avoid;
	margin: 1em auto;
	text-align: center;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}
/* End figures */

#chapter-16 header p:nth-of-type(2){
	margin-top: 1em;
	text-align: right;
}
